.fab {
  border-radius: 90%;
  bottom: 25px;
  font-size: 20px;
  padding: 25px;
  position: fixed;
  right: 25px;
  z-index: 10;
}

.fab-danger {
  bottom: 20px;
  padding: 10px;
  position: fixed;
  left: 25px;
}
